<!doctype html>
<html>
    <html lang="'eu AU"></html>
        <head>
        {% if title %}
        <title>Home Page - {{ title }}</title>
        {% else %}
        <title>Welcome to Moose</title>
        {% endif %}
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <title>WELCOME TO THE SYSTEM</title>
        <link rel="stylesheet" href="style.css">
        </head>

        <body>
        <div>
            <nav>
                <ul>
                    <li><a href="MainPage.html" class="button">JOIN THE STATE</a></li>
                    <li><a href="AboutPage.html" class="button">ABOUT US</a></li>
                    <li><a href="DonatePage.html" class="button">DONATE</a></li>
                </ul>
            </nav>
        </div>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}    
        </body>
</html>